/* import RESET */ /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(//db.onlinewebfonts.com/c/e9de4f4d373ef5c6d9cf52490816ff5d?family=BMW+Type+Web+Light+All);
@import url(https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css);
@import url(https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css);
@import url(https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* fonts import */
/* @font-face {
    font-family: 'bmw';
    src: url(/bmw.woff2);
    font-style: normal;
    font-weight: normal;
  } */
/* icons import */
/*Con el archivo de scs reset esto ya no es necesario
 *{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
} */
body {
  font-family: sans-serif;
}

header {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(https://www.bmw.es/content/dam/bmw/marketES/bmw_es/Campanas/ix/ST-Nuevo-X1.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1656054791190.jpg);
  background-position: center;
  background-size: cover;
  border: 2px solid green;
}
header nav {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid green;
}
header nav .left {
  padding: 10px 0;
  border: 2px solid green;
}
header nav .left ul {
  display: flex;
  gap: 16px;
}
header nav .left ul li {
  border: 2px solid red;
}
header nav .right {
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 16px;
  border: 2px solid green;
}
header nav .right :last-child {
  height: 40px;
}

.header__prompt {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header__prompt h1 {
  font-size: 2.3em;
  color: black;
}
.header__prompt a {
  padding: 16px;
  width: 190px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  background-color: #2669d4;
}
.header__prompt a:last-child {
  color: #505050;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  background-color: transparent;
  border: 2px solid #4d4d4d;
}

main {
  padding: 80px 0 40px;
}
main .nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
main .nav ul li {
  padding: 8px;
  /*  width:100%;
   overflow: scroll; */
}

.main__news {
  display: grid;
  -moz-column-gap: 40px;
       column-gap: 40px;
  grid-template-areas: "a a a a";
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 16px;
}

/* PONGO ETILOS EN ESPERA PARA APLICARLOS CUANDO ORDENE CON BEM
.header-image{
    position:relative; 
    display:flex; 
    width: 100vw;
}

.header__content{
    /* position:absolute;
    top:10px;
    left:10px; ESTO ERA EL FINAL DE UN COMMENT!
    display: flex; 
    justify-content: space-between; 
    flex-direction: row; 
}

.main-title{
    position: absolute;
    top:50px;
    left:40px;
    display: flex; 
    justify-content: flex-start; 
    flex-direction: column;
    font-size: 1.35em;
    color: black;
    text-shadow: 0 0 7px white;
}

.menuOptions{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    text-shadow: 0 0 7px #9fc9e2;
}

.iconsMainMenu{
position:absolute;
top: 25px;
left: 40px;
color: white;
text-shadow: 0 0 7px rgb(129, 129, 129);
}

.logo-and-slogan{
    position: absolute;
    top:20px;
    right:50px;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.logo{
    width: 50px; 
    margin-left: 35px;
}

.slogan{
    font-size: small;
}



main{
    background-color: white;
    display:flex;
    justify-content: center;
    flex-direction: row;
}

footer{
    display:flex;
    flex-direction: column;

}
.grey-footer{
    background-color: 
    #e6e6e6;
    display: flex;
    width:100%;
    height:330px;
    margin:0px;
}
.white-footer{
    background-color: white;
    display: flex;
    width:100%;
    height:30px;
    margin:0px;
} *//*# sourceMappingURL=style.css.map */