/* import RESET */
@import './reset.scss';

/* fonts import */
/* @font-face {
    font-family: 'bmw';
    src: url(/bmw.woff2);
    font-style: normal;
    font-weight: normal;
  } */

@import url(//db.onlinewebfonts.com/c/e9de4f4d373ef5c6d9cf52490816ff5d?family=BMW+Type+Web+Light+All);

/* icons import */
@import url(https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css);
@import url(https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css);
@import url(https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css);

/*Con el archivo de scs reset esto ya no es necesario
 *{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
} */
body{
    font-family: /* 'bmw', "BMW Type Web Light All",*/ sans-serif;
}

header{
height: 400px;
display: flex;
flex-direction: column;
justify-content: space-between;
background-image: url(https://www.bmw.es/content/dam/bmw/marketES/bmw_es/Campanas/ix/ST-Nuevo-X1.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1656054791190.jpg);
background-position: center;
background-size: cover;
border: 2px solid green;

 nav {
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid green;
    
    .left{  
        padding: 10px 0; 
        border: 2px solid green;
        ul{
            display:flex; 
            gap: 16px;
            li{
                border: 2px solid red;
            }       
          }  
        }

    .right{
        padding: 10px 0;
        display: flex;
        align-items: center;
        gap: 16px;
        border: 2px solid green;

        :last-child{
            height: 40px;
        }
    }     
 }
}

.header__prompt{
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1{
        font-size: 2.3em;
        color: black;
    }

    a{
        padding: 16px;
        width: 190px;
        color: white;
        text-decoration: none;
        font-weight: 500;
        text-align: center;
        background-color: #2669d4;       
    }

    a:last-child{
        color: #505050;
        text-decoration: none;
        font-weight: 500;
        text-align: center;
        background-color: transparent;
        border: 2px solid #4d4d4d;
    }    
}

main{
    padding: 80px 0 40px;
    
    .nav{
        ul{
           display: flex;
           list-style: none;
           gap: 20px;
        
           li{
            padding: 8px;
           /*  width:100%;
            overflow: scroll; */

           }
           
        }

    }    
}

.main__news {
    display: grid;
    column-gap: 40px;
    grid-template-areas: "a a a a";
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 16px;
}

/* PONGO ETILOS EN ESPERA PARA APLICARLOS CUANDO ORDENE CON BEM
.header-image{
    position:relative; 
    display:flex; 
    width: 100vw;
}

.header__content{
    /* position:absolute;
    top:10px;
    left:10px; ESTO ERA EL FINAL DE UN COMMENT!
    display: flex; 
    justify-content: space-between; 
    flex-direction: row; 
}

.main-title{
    position: absolute;
    top:50px;
    left:40px;
    display: flex; 
    justify-content: flex-start; 
    flex-direction: column;
    font-size: 1.35em;
    color: black;
    text-shadow: 0 0 7px white;
}

.menuOptions{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    text-shadow: 0 0 7px #9fc9e2;
}

.iconsMainMenu{
position:absolute;
top: 25px;
left: 40px;
color: white;
text-shadow: 0 0 7px rgb(129, 129, 129);
}

.logo-and-slogan{
    position: absolute;
    top:20px;
    right:50px;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.logo{
    width: 50px; 
    margin-left: 35px;
}

.slogan{
    font-size: small;
}



main{
    background-color: white;
    display:flex;
    justify-content: center;
    flex-direction: row;
}

footer{
    display:flex;
    flex-direction: column;

}
.grey-footer{
    background-color: 
    #e6e6e6;
    display: flex;
    width:100%;
    height:330px;
    margin:0px;
}
.white-footer{
    background-color: white;
    display: flex;
    width:100%;
    height:30px;
    margin:0px;
} */